@import "components";


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,800&family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,700&display=swap');
// @import url('../fonts/Aurelly-Signature.otf');

[x-cloak] {
  @apply hidden #{!important};
}

#menu-primary{
  // border: 1px solid red;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  text-transform: uppercase;
}

.tags{
  p{
    box-sizing: border-box;
    padding: 0 20px;
    &:last-child{
      border: none;
    }
  }
}
